name: CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: extractions/setup-just@v3
{%- if ci_needs_github_token | default(false) %}
        with:
          github-token: ${{ '{{' }} secrets.GH_PAT {{ '}}' }}
{%- endif %}
{% if python != 'none' %}
      - uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          python-version: "{{ python_version }}"
{%- if ci_needs_github_token | default(false) %}
          github-token: ${{ '{{' }} secrets.GH_PAT {{ '}}' }}
{%- endif %}

      - name: Install dependencies
        run: {% if python == 'component' %}cd {{ component_dir }} && {% endif %}uv sync --frozen

{% elif hooks != 'none' %}
      - name: Install pre-commit
        run: pip install pre-commit

{% endif %}
      - name: Check
        run: just check
